In [1]:
a=10
b=12.34
print a+b

22.34

In [2]:
a=10
b=12+3j
print a+b

(22+3j)

In [3]:
a=10.23
b=12+3j
print a+b

(22.23+3j)

In [4]:
a="cost price"
b=23
print a+b

TypeError: cannot concatenate 'str' and 'int' objects

In [5]:
a="23"
b=34
print a+b

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
a="23"
b=34
print int(a)+b

57

In [7]:
a="cost price"
b=23
print a+str(b)

cost price23

In [8]:
a="cost price"
b=23
print a*b

cost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost price

In [9]:
a="cost price"
b=23.34
print a*b

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
a="cost price"
b=0x2
print a*b

cost pricecost price

In [11]:
a="cost price"
b=0x21
print a*b

cost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost pricecost price

In [12]:
a=0x123
b=0o123
print a+b

374

In [13]:
f=12.3456
print int(f)

12

In [14]:
s="234"
b=int(s)
print b, type(b)

234 <type 'int'>

In [15]:
s="234.45"
b=int(s)
print b, type(b)

ValueError: invalid literal for int() with base 10: '234.45'

In [16]:
s="23445ab"
b=int(s)
print b, type(b)

ValueError: invalid literal for int() with base 10: '23445ab'

In [17]:
s="234.45"
b=float(s)
print b, type(b)

234.45 <type 'float'>

In [18]:
s="23.4.45"
b=float(s)
print b, type(b)

ValueError: invalid literal for float(): 23.4.45

In [19]:
cell=9676622023
cell_x=hex(cell)
print cell_x

0x240c588c7

In [20]:
phone_x="240c588c7"
print int(phone_x)

ValueError: invalid literal for int() with base 10: '240c588c7'

In [21]:
phone_x="240c588c7"
print int(phone_x,16)

9676622023

In [22]:
phone_x="240c588c7"
print int(phone_x,16)
print 7*16**0+12*16**1+8*16**2+8*16**3+5*16**4+12*16**5+0*16**6+4*16**7+2*16**8

9676622023
9676622023

In [23]:
a="23.45"
print int(a)

ValueError: invalid literal for int() with base 10: '23.45'

In [24]:
a="23.45"
b=float(a)
print b, type(b)
a=int(b)
print a, type(a)

23.45 <type 'float'>
23 <type 'int'>

In [25]:
a="23.456789"
print int(a)

ValueError: invalid literal for int() with base 10: '23.456789'

In [26]:
a="23.456789"
b=float(a)
print int(b)

23

In [27]:
float?

In [28]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:name"

Name:name

In [29]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:",name

Name: Anil kumar

In [31]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:",name,"Age:",age,"Height:",height

 Name: Anil kumar Age: 23 Height: 5.6

In [32]:
print "Name:"name

SyntaxError: invalid syntax (<ipython-input-32-ee67461543c1>, line 1)

In [33]:
print "Name:,"name

SyntaxError: invalid syntax (<ipython-input-33-5b3516a8d49c>, line 1)

In [34]:
print "Name:,name"

Name:,name

In [35]:
print "Name:name,"

Name:name,

In [36]:
print "Name:," name

SyntaxError: invalid syntax (<ipython-input-36-0feac0f47b22>, line 1)

In [37]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"name,"Age:",age,"Height:",height

SyntaxError: invalid syntax (<ipython-input-37-1b0fdd3783ff>, line 6)

In [38]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name,"Age:",age,"Height:",height

Name:Anil kumar Age: 23 Height: 5.6

In [39]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name,", Age:",age,"Height:",height

Name:Anil kumar , Age: 23 Height: 5.6

In [40]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name,", Age:",age,", Height:",height

Name:Anil kumar , Age: 23 , Height: 5.6

In [41]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:",age,", Height:",height

Name:Anil kumar, Age: 23 , Height: 5.6

In [42]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+age,", Height:",height

TypeError: cannot concatenate 'str' and 'int' objects

In [43]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age),", Height:",height

Name:Anil kumar, Age:23 , Height: 5.6

In [44]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:",height

Name:Anil kumar, Age:23, Height: 5.6

In [45]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+height

TypeError: cannot concatenate 'str' and 'float' objects

In [46]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)

Name:Anil kumar, Age:23, Height:5.6

In [47]:
name="Anil kumar"
age=23
height=5.6
# insert into person values('Anil kumar',23,5.6)
query = "nsert into person values('"+name+"',"+str(age)+","+str(height)
print query

nsert into person values('Anil kumar',23,5.6

In [48]:
name="Anil kumar"
age=23
height=5.6
# insert into person values('Anil kumar',23,5.6)
query = "nsert into person values('"+name+"',"+str(age)+","+str(height)+")"
print query

nsert into person values('Anil kumar',23,5.6)

In [49]:
print "line1"
print "line2"

line1
line2

In [50]:
print "line1",
print "line2"

line1 line2

In [51]:
print "line1"
print "line2"

line1
line2

In [52]:
print "line1\nline2"

line1
line2

In [53]:
print "line1\tline2"

line1	line2

In [54]:
print "\n"

In [55]:
print "\t"

In [57]:
print '\n'

In [58]:
print '\t'

In [59]:
print "'\n'"

'
'

In [61]:
print "\"+"n"

SyntaxError: invalid syntax (<ipython-input-61-c3c722c79802>, line 1)

In [63]:
print "/n"

/n

In [64]:
print "/\n"

/

In [65]:
a="\n"
print a

In [66]:
# hyd is 'cool' today
print "hyd is 'cool' today"

hyd is 'cool' today

In [67]:
# hyd is 'cool' today
print 'hyd is 'cool' today'

SyntaxError: invalid syntax (<ipython-input-67-7c4284a17af5>, line 2)

In [68]:
# hyd is 'cool' today
print 'hyd is \'cool\' today'

hyd is 'cool' today

In [69]:
# "hyd" is 'cool' today
print '"hyd" is \'cool\' today'

"hyd" is 'cool' today

In [70]:
# "hyd" is 'cool' today
print ""hyd" is \'cool\' today"

SyntaxError: invalid syntax (<ipython-input-70-15a4561d1edd>, line 2)

In [71]:
# "hyd" is 'cool' today
print "\"hyd\" is 'cool' today"

"hyd" is 'cool' today

In [72]:
print "\\n"

\n

In [73]:
print "\\t"

\t

In [74]:
print "\"

SyntaxError: EOL while scanning string literal (<ipython-input-74-dd36a44f2c78>, line 1)

In [75]:
print "sdfsdf

SyntaxError: EOL while scanning string literal (<ipython-input-75-1941d92bfae1>, line 1)

In [76]:
print "\\"

\

In [77]:
s="python program"
print len(s)

14

In [78]:
s="pythonprogram"
print len(s)

13

In [79]:
s="python\nprogram"
print len(s)

14

In [80]:
s="\npython\nprogram\n"
print len(s)

16

In [81]:
s="\npython\nprogram\n\n"
print len(s)

17

In [82]:
s=r"\npython\nprogram\n\n"
print s
print len(s)

\npython\nprogram\n\n
21

In [83]:
s="\npython\nprogram\n\n"
print s
print len(s)

python
program


17

In [84]:
s="\\npython\\nprogram\\n\\n"
print s
print len(s)

\npython\nprogram\n\n
21

In [85]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)

Name:Anil kumar, Age:23, Height:5.6

In [86]:
cost=23.4567
# cost price:23.45
print "cost price:"+str(cost)

cost price:23.4567

In [87]:
cost=23.4567
# cost price:23.45
print "cost price:%s"+str(cost)

cost price:%s23.4567

In [88]:
cost=23.4567
# cost price:23.45
print "cost price:%s"%str(cost)

cost price:23.4567

In [89]:
cost=23.4567
# cost price:23.45
print "cost price:%s"%(cost)

cost price:23.4567

In [91]:
cost=23.4567
# cost price:23.45
print "cost price:%d"%(cost)
print "cost price:"+str(int(cost))

cost price:23
cost price:23

In [92]:
cost=23.4567
# cost price:23.45
print "cost price:%f"%(cost)

cost price:23.456700

In [93]:
cost=23.4567
# cost price:23.45
print "cost price:%.2f"%(cost)

cost price:23.46

In [94]:
a=12345
print "HEX:"+hex(a)

HEX:0x3039

In [95]:
a=12345
print "HEX:%x"%a

HEX:3039

In [97]:
a=12345
print "HEX:%o"%a

HEX:30071

In [99]:
#%r
s="fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n"
print s

fsdsdf
sdfsdf
sdfsdf
sfsdf

In [100]:
#%r
s=r"fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n"
print s

fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n

In [101]:
#%r
s="fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n"
print s
print r's

SyntaxError: EOL while scanning string literal (<ipython-input-101-6b87a3bcf743>, line 4)

In [102]:
#%r
s="fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n"
print s
print r"s

SyntaxError: EOL while scanning string literal (<ipython-input-102-45e60ec36a4d>, line 4)

In [103]:
#%r
s="fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n"
print s
print "%r"%s

fsdsdf
sdfsdf
sdfsdf
sfsdf

'fsdsdf\nsdfsdf\nsdfsdf\nsfsdf\n'

In [105]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print "Name:%s, Age:%s, Height:%s"%(name,age,height)

Name:Anil kumar, Age:23, Height:5.6
Name:Anil kumar, Age:23, Height:5.6

In [106]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print "Name:%s, Age:%s, Height:%s"%(name,height,age)

Name:Anil kumar, Age:23, Height:5.6
Name:Anil kumar, Age:5.6, Height:23

In [107]:
# print statement
name="Anil kumar"
age=23
height=5.6
# Name:Anil kumar, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print "Name:%s, Age:%d, Height:%f"%(name,height,age)

Name:Anil kumar, Age:23, Height:5.6
Name:Anil kumar, Age:5, Height:23.000000

In [108]:
name=raw_input("Enter your name:")

Enter your name:jayaram

In [109]:
name

'jayaram'

In [110]:
name=raw_input("Enter your name:")
print "Your name is",name

Enter your name:jayaram
Your name is jayaram

In [111]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")

Enter a value:12
Enter b value:34

In [112]:
print a+b

1234

In [113]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:10
Enter b value:10
10 <type 'str'>
10 <type 'int'>

In [114]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:10.23
Enter b value:10.23
10.23 <type 'str'>
10.23 <type 'float'>

In [115]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:[1,2,3,4]
Enter b value:[1,2,3,4]
[1,2,3,4] <type 'str'>
[1, 2, 3, 4] <type 'list'>

In [116]:
b="[1,2,3,4]"
print b, type(b)

[1,2,3,4] <type 'str'>

In [117]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:(1,2,3,4)
Enter b value:(1,2,3,4)
(1,2,3,4) <type 'str'>
(1, 2, 3, 4) <type 'tuple'>