In [1]:
d1={"name":"anil","age":23, "Height":5.6}
d2={"state":"TS","city":"Hyderabad",'street':"maithrivanam"}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
d1-d2

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [3]:
d1*d2

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [4]:
d1={"name":"anil","age":23, "Height":5.6}
d2={"state":"TS","city":"Hyderabad",'street':"maithrivanam"}
d1["name"]="Anil kumar"
print d1

{'age': 23, 'name': 'Anil kumar', 'Height': 5.6}

In [5]:
d1={"name":"anil","age":23, "Height":5.6}
d2={"state":"TS","city":"Hyderabad",'street':"maithrivanam"}
d1["name"]="Anil kumar"
d1["cell"]=9676622023
print d1

{'cell': 9676622023, 'age': 23, 'name': 'Anil kumar', 'Height': 5.6}

In [6]:
d1={"name":"anil","age":23, "Height":5.6}
d2={"state":"TS","city":"Hyderabad",'street':"maithrivanam"}
d1["name"]="Anil kumar"
d1["cell"]=9676622023
d1.update({"adhar":"asdfghj","passport":"1234qwertgh"})
print d1

{'cell': 9676622023, 'name': 'Anil kumar', 'passport': '1234qwertgh', 'age': 23, 'adhar': 'asdfghj', 'Height': 5.6}

In [7]:
d1={"name":"anil","age":23, "Height":5.6}
d2={"state":"TS","city":"Hyderabad",'street':"maithrivanam"}
d1["name"]="Anil kumar"
d1["cell"]=9676622023
d1.update({"adhar":"asdfghj","passport":"1234qwertgh"})
d1.setdefault("empid",228)
print d1

{'cell': 9676622023, 'empid': 228, 'name': 'Anil kumar', 'passport': '1234qwertgh', 'age': 23, 'adhar': 'asdfghj', 'Height': 5.6}

In [8]:
print d1

{'cell': 9676622023, 'empid': 228, 'name': 'Anil kumar', 'passport': '1234qwertgh', 'age': 23, 'adhar': 'asdfghj', 'Height': 5.6}

In [10]:
print d1["cell"]
print d1.get("cell")
print "%(cell)s"%d1

9676622023
9676622023
9676622023

In [11]:
print d1["cell"]
print d1.get("cell")
print "%(cell)s,%(empid)s"%d1

9676622023
9676622023
9676622023,228

In [12]:
print d1["cell"]
print d1.get("cell")
print "%(cell)s,%(empid)s,%(werty)s"%d1

9676622023
9676622023

KeyError: 'werty'

In [13]:
print d1["werty"]

KeyError: 'werty'

In [14]:
print d1.get("qwert")

None

In [15]:
print d1.get("qwert","default value")

default value

In [16]:
print d1.get("cell","default value")

9676622023

In [18]:
d1={"name":"anil","age":23, "Height":5.6}
print d1.pop("name")
print d1

anil
{'age': 23, 'Height': 5.6}

In [19]:
d1={"name":"anil","age":23, "Height":5.6}
print d1.pop("cell")
print d1

KeyError: 'cell'

In [20]:
d1={"name":"anil","age":23, "Height":5.6}
print d1.pop("cell","Cell key not found")
print d1

Cell key not found
{'age': 23, 'name': 'anil', 'Height': 5.6}

In [21]:
d1={"name":"anil","age":23, "Height":5.6}
print d1.pop("name","Cell key not found")
print d1

anil
{'age': 23, 'Height': 5.6}

In [22]:
d1={"name":"anil","age":23, "Height":5.6}
print d1.popitem()
print d1

('age', 23)
{'name': 'anil', 'Height': 5.6}

In [23]:
d1={"name":"anil","age":23, "Height":5.6}
print d1.clear()
print d1

None
{}

In [24]:
d1={"name":"anil","age":23, "Height":5.6}
d2=d1
d3=d1.copy()
d1.update({"cell":9676622023})
print "d1=",d1
print "d2=",d2
print "d3=",d3

d1= {'cell': 9676622023, 'age': 23, 'name': 'anil', 'Height': 5.6}
d2= {'cell': 9676622023, 'age': 23, 'name': 'anil', 'Height': 5.6}
d3= {'age': 23, 'name': 'anil', 'Height': 5.6}

In [25]:
d1={"name":"anil","age":23, "Height":5.6}
d2=d1
d3=d1.copy()
print id(d1)
print id(d2)
print id(d3)

139916578869608
139916578869608
139916578872408

In [26]:
d4=d1.fromkeys(["name","age","sal","height"],"dummy")
print d4

{'age': 'dummy', 'height': 'dummy', 'name': 'dummy', 'sal': 'dummy'}

In [27]:
d1={"name":"anil","age":23, "Height":5.6}
print "name" in d1
print "name" in d1.keys()
print d1.has_key("name")

True
True
True

In [28]:
d1={"name":"anil","age":23, "Height":5.6}
print "cell" in d1
print "cell" in d1.keys()
print d1.has_key("cell")

False
False
False

In [29]:
for i in d1:
    print i

age
name
Height

In [31]:
for i in d1:
    print i,d1[i],d1.get(i)

age 23 23
name anil anil
Height 5.6 5.6

In [32]:
print d1.keys()

['age', 'name', 'Height']

In [33]:
print d1.values()

[23, 'anil', 5.6]

In [35]:
23 in d1.values()

True

In [36]:
d1.items()

[('age', 23), ('name', 'anil'), ('Height', 5.6)]

In [37]:
for i in d1.items():
    print i

('age', 23)
('name', 'anil')
('Height', 5.6)

In [38]:
for i in d1.items():
    print i[0],i[1]

age 23
name anil
Height 5.6

In [39]:
for i in d1.items():
    key,value=i
    print "key=%s, value=%s"%(key,value)

key=age, value=23
key=name, value=anil
key=Height, value=5.6

In [40]:
for key,value in d1.items():
    print "key=%s, value=%s"%(key,value)

key=age, value=23
key=name, value=anil
key=Height, value=5.6

In [41]:
for key,value in d1.items():
    print "key=%s, value=%s"%(key,value)
print "*"*50
for key,value in d1.iteritems():
    print "key=%s, value=%s"%(key,value)
print "*"*50
for key,value in d1.viewitems():
    print "key=%s, value=%s"%(key,value)

key=age, value=23
key=name, value=anil
key=Height, value=5.6
**************************************************
key=age, value=23
key=name, value=anil
key=Height, value=5.6
**************************************************
key=age, value=23
key=name, value=anil
key=Height, value=5.6

In [42]:
d1.items()

[('age', 23), ('name', 'anil'), ('Height', 5.6)]

In [43]:
d1.iteritems()

In [44]:
for key,value in d1.iteritems():
    print "key=%s, value=%s"%(key,value)

key=age, value=23
key=name, value=anil
key=Height, value=5.6

In [45]:
ii = d1.iteritems()
for j in ii:
    print j

('age', 23)
('name', 'anil')
('Height', 5.6)

In [46]:
for j in ii:
    print j

In [47]:
ii = d1.iteritems()
d1.update({"cell":9676622023})
for j in ii:
    print j

RuntimeError: dictionary changed size during iteration

In [48]:
ii = d1.iteritems()
d1.update({"cell":9676622023})
ii = d1.iteritems()
for j in ii:
    print j

('cell', 9676622023)
('age', 23)
('name', 'anil')
('Height', 5.6)

In [49]:
ii = d1.viewitems()
d1.update({"cell":9676622023})
for j in ii:
    print j

('cell', 9676622023)
('age', 23)
('name', 'anil')
('Height', 5.6)

In [50]:
for j in ii:
    print j

('cell', 9676622023)
('age', 23)
('name', 'anil')
('Height', 5.6)

In [51]:
for j in ii:
    print j

('cell', 9676622023)
('age', 23)
('name', 'anil')
('Height', 5.6)

In [52]:
d1.pop("name")

'anil'

In [53]:
for j in ii:
    print j

('cell', 9676622023)
('age', 23)
('Height', 5.6)

In [54]:
ii = d1.viewitems()

In [55]:
print ii

dict_items([('cell', 9676622023), ('age', 23), ('Height', 5.6)])

In [56]:
l1=[1,2,3,4]
l2=[5,6,7,8]
# [6,8,10,12]
res=[]
i=0
while i<len(l1):
    print l1[i],l2[i]
    i=i+1

1 5
2 6
3 7
4 8

In [57]:
l1=[1,2,3,4]
l2=[5,6,7,8]
# [6,8,10,12]
res=[]
i=0
while i<len(l1):
    print l1[i]+l2[i]
    i=i+1

6
8
10
12

In [58]:
l1=[1,2,3,4]
l2=[5,6,7,8]
# [6,8,10,12]
res=[]
i=0
while i<len(l1):
    res.append(l1[i]+l2[i])
    i=i+1
print res

[6, 8, 10, 12]

In [59]:
l1=[1,2,3,4]
l2=[5,6,7,8]
# [6,8,10,12]
print zip(l1,l2)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [61]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[9,10,11,12]
# [6,8,10,12]
print zip(l1,l2,l3)

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [63]:
l1=[1,2,3,4]
l2=[5,6,7,8]
#l3=[9,10,11,12]
# [6,8,10,12]
res=[]
for i in zip(l1,l2):
    res.append(sum(i))
print res

[6, 8, 10, 12]

In [64]:
l1=[1,2,3,4]
l2=[5,6,7,8]
#l3=[9,10,11,12]
# [6,8,10,12]
'''
res=[]
for i in zip(l1,l2):
    res.append(sum(i))
print res
'''
print [sum(i) for i in zip(l1,l2)]

[6, 8, 10, 12]

In [65]:
l1=[1,2,3,4]
l2=[5,6,7,8]
#l3=[9,10,11,12]
# [6,8,10,12]
'''
res=[]
for i in zip(l1,l2):
    res.append(sum(i))
print res
'''
print [i+j for i,j in zip(l1,l2)]

[6, 8, 10, 12]

In [66]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print zip(l1,l2,[9,10,11])

[(1, 5, 9), (2, 6, 10), (3, 7, 11)]

In [68]:
l1=range(1,20)
print l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [70]:
def check_even(x):
    return "EVEN" if x%2==0 else "ODD"
print [check_even(i)  for i in range(1,20)]

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [71]:
def check_even(x):
    return "EVEN" if x%2==0 else "ODD"
check_even1 = lambda x: "EVEN" if x%2==0 else "ODD"
print type(check_even1)
print type(check_even)
print [check_even(i)  for i in range(1,20)]

<type 'function'>
<type 'function'>
['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [72]:
check_even1 = lambda x: "EVEN" if x%2==0 else "ODD"
print [check_even1(i)  for i in range(1,20)]

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [73]:
def fun(x,y):
    return x+y
f=lambda  x,y:x+y
print [fun(i,j) for i,j in zip(range(1,10),range(11,20))]

[12, 14, 16, 18, 20, 22, 24, 26, 28]

In [74]:
f=lambda  x,y:x+y
print [f(i,j) for i,j in zip(range(1,10),range(11,20))]

[12, 14, 16, 18, 20, 22, 24, 26, 28]

In [75]:
l1=[1,2,3,4]
l2=[5,6,7,8]
f=lambda  x,y:x+y
print [f(i,j) for i,j in zip(l1,l2)]

[6, 8, 10, 12]

In [76]:
l1=[1,2,3,4]
l2=[5,6,7,8]
f=lambda  x,y:x+y
#print [f(i,j) for i,j in zip(l1,l2)]
print map(f,l1,l2)
#f(1,5),f[2,6],f(3,7),f(4,8)

[6, 8, 10, 12]

In [77]:
l1=[1,2,3,4]
l2=[5,6,7,8]
#f=lambda  x,y:x+y
#print [f(i,j) for i,j in zip(l1,l2)]
print map(lambda  x,y:x+y,l1,l2)
#f(1,5),f[2,6],f(3,7),f(4,8)

[6, 8, 10, 12]

In [78]:
def fun(x,y):
    res=x+y
l1=[1,2,3,4]
l2=[5,6,7,8]
print map(fun,l1,l2)

[None, None, None, None]

In [79]:
def fun(x,y):
    res=x+y
    return res
l1=[1,2,3,4]
l2=[5,6,7,8]
print map(fun,l1,l2)

[6, 8, 10, 12]

In [80]:
l1=[1,2,3,4]
l2=[5,6,7,8]
#f=lambda  x,y:x+y
#print [f(i,j) for i,j in zip(l1,l2)]
print map(lambda  x,y:(x+y,x-y,x*y,x/y),l1,l2)
#f(1,5),f[2,6],f(3,7),f(4,8)

[(6, -4, 5, 0), (8, -4, 12, 0), (10, -4, 21, 0), (12, -4, 32, 0)]

In [ ]:
# tuple comprehensions, dictionary comprehensions, list comprehensions
print (f(i,j) for i,j in zip(l1,l2))