In [1]:
f=open("data.csv","w")

In [2]:
f.write("some data")

In [3]:
# refresh the buffer using two ways: f.close, f.flush
# of you close a file you could not do any operation. If you flush a file you can do some operaions furthur

In [4]:
f.close()

In [5]:
f.write("some more data after close")

ValueError: I/O operation on closed file

In [6]:
f=open("data.csv","w")

In [7]:
f=open("data.csv","w")
f.write("some data")
f.flush()

In [8]:
f.write("data after flush")

In [9]:
f.close()

In [10]:
f=open("data.csv","w")
f.write("some data")
f.flush()
f.write("data after flush")
f.close()

In [11]:
f=open("data.csv","a")
f.write("\n content added at append mode")

In [12]:
f.close()

In [13]:
f=open("data1.csv","a")
f.write("some data")
f.close()

In [14]:
import random
names=["anil","jayaram","Dhanush","ramesh","Ravi"]
ages=[23,45,34,56,60]
sals=[23000,34000,45000,60000]
for i in range(100):
    row= "%s,%s,%s"%(random.choice(names),random.choice(ages),random.choice(sals))
    print row

jayaram,34,60000
anil,45,23000
jayaram,56,23000
Ravi,60,34000
Dhanush,34,23000
anil,56,45000
anil,34,23000
Dhanush,60,45000
anil,34,23000
ramesh,60,34000
Ravi,34,34000
Ravi,60,23000
Dhanush,45,60000
ramesh,56,34000
Dhanush,45,60000
Dhanush,45,60000
ramesh,34,23000
jayaram,56,45000
Ravi,23,45000
anil,23,23000
anil,23,60000
Dhanush,45,45000
anil,34,23000
ramesh,34,34000
ramesh,45,45000
ramesh,60,34000
Dhanush,34,23000
Dhanush,60,23000
jayaram,34,23000
Dhanush,60,23000
anil,56,60000
Ravi,23,34000
Dhanush,34,60000
Ravi,45,34000
jayaram,23,34000
Ravi,45,60000
Dhanush,60,34000
anil,60,45000
Ravi,60,23000
Ravi,34,23000
anil,60,34000
Dhanush,56,60000
anil,45,23000
Dhanush,34,60000
anil,23,60000
jayaram,56,23000
Dhanush,56,23000
Dhanush,60,23000
Ravi,60,34000
Ravi,34,45000
Ravi,34,45000
ramesh,45,45000
Ravi,23,45000
Ravi,60,34000
Dhanush,34,60000
jayaram,34,45000
Ravi,60,34000
ramesh,45,34000
Dhanush,60,45000
anil,56,60000
Ravi,23,23000
Dhanush,60,34000
jayaram,45,23000
jayaram,60,45000
Ravi,34,60000
anil,56,34000
ramesh,60,60000
ramesh,45,45000
Ravi,60,60000
ramesh,56,34000
anil,56,34000
ramesh,56,60000
ramesh,60,23000
ramesh,56,34000
jayaram,45,60000
jayaram,45,23000
Ravi,56,60000
Ravi,60,45000
ramesh,23,23000
jayaram,60,60000
Dhanush,56,23000
anil,34,23000
Dhanush,56,45000
anil,34,45000
ramesh,60,45000
jayaram,23,45000
Ravi,60,23000
jayaram,23,45000
ramesh,45,34000
ramesh,34,60000
Ravi,60,23000
jayaram,45,45000
anil,23,34000
ramesh,60,45000
Ravi,45,23000
ramesh,23,23000
ramesh,34,45000
Ravi,60,23000
ramesh,45,45000
ramesh,34,34000

In [16]:
import random
f=open("data.csv","w")
names=["anil","jayaram","Dhanush","ramesh","Ravi"]
ages=[23,45,34,56,60]
sals=[23000,34000,45000,60000]
for i in range(100):
    row= "%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals))
    f.write(row)
f.close()

In [17]:
f=open("data1.csv","w")
l=["name1","name2","name3"]
f.writelines(l)
f.close()

In [19]:
import random
f=open("data.csv","w")
names=["anil","jayaram","Dhanush","ramesh","Ravi"]
ages=[23,45,34,56,60]
sals=[23000,34000,45000,60000]
data = map(lambda x:"%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals)),range(100))
print data
f.writelines(data)
f.close()

['Ravi,56,34000\n', 'Ravi,23,34000\n', 'ramesh,56,45000\n', 'ramesh,23,23000\n', 'anil,34,45000\n', 'ramesh,34,23000\n', 'Dhanush,23,45000\n', 'Dhanush,34,23000\n', 'ramesh,56,34000\n', 'jayaram,23,23000\n', 'Dhanush,23,23000\n', 'jayaram,56,60000\n', 'jayaram,60,34000\n', 'jayaram,23,34000\n', 'anil,45,23000\n', 'Ravi,23,34000\n', 'Dhanush,60,34000\n', 'ramesh,60,34000\n', 'Ravi,56,60000\n', 'Ravi,56,34000\n', 'Dhanush,34,34000\n', 'anil,34,23000\n', 'ramesh,34,45000\n', 'anil,45,34000\n', 'jayaram,60,34000\n', 'jayaram,60,60000\n', 'anil,45,23000\n', 'Dhanush,45,45000\n', 'anil,23,45000\n', 'jayaram,56,45000\n', 'Ravi,60,45000\n', 'ramesh,60,60000\n', 'anil,45,23000\n', 'jayaram,34,60000\n', 'jayaram,56,34000\n', 'Dhanush,23,23000\n', 'anil,45,45000\n', 'Dhanush,23,34000\n', 'Ravi,23,23000\n', 'ramesh,60,34000\n', 'jayaram,56,45000\n', 'Ravi,34,34000\n', 'anil,45,45000\n', 'Ravi,56,60000\n', 'jayaram,34,23000\n', 'ramesh,56,60000\n', 'Ravi,34,34000\n', 'Dhanush,34,23000\n', 'anil,56,45000\n', 'anil,23,23000\n', 'jayaram,60,23000\n', 'jayaram,23,60000\n', 'jayaram,56,23000\n', 'anil,56,23000\n', 'Ravi,45,34000\n', 'Dhanush,60,23000\n', 'jayaram,60,60000\n', 'ramesh,56,34000\n', 'anil,56,60000\n', 'Dhanush,60,60000\n', 'jayaram,56,34000\n', 'Ravi,34,34000\n', 'ramesh,34,45000\n', 'ramesh,23,23000\n', 'ramesh,45,45000\n', 'Dhanush,56,34000\n', 'Dhanush,45,23000\n', 'jayaram,56,60000\n', 'ramesh,23,60000\n', 'anil,23,34000\n', 'Ravi,34,60000\n', 'jayaram,45,60000\n', 'Ravi,60,45000\n', 'Dhanush,60,34000\n', 'jayaram,56,60000\n', 'Ravi,60,45000\n', 'Ravi,56,23000\n', 'jayaram,45,34000\n', 'anil,34,45000\n', 'jayaram,23,23000\n', 'anil,45,45000\n', 'anil,34,34000\n', 'jayaram,23,45000\n', 'Dhanush,56,60000\n', 'ramesh,23,45000\n', 'ramesh,56,45000\n', 'anil,34,34000\n', 'ramesh,56,45000\n', 'Dhanush,60,45000\n', 'ramesh,56,34000\n', 'Ravi,45,34000\n', 'Ravi,23,45000\n', 'anil,45,23000\n', 'anil,56,60000\n', 'ramesh,23,23000\n', 'jayaram,23,34000\n', 'jayaram,45,45000\n', 'Ravi,60,60000\n', 'Dhanush,60,60000\n', 'Ravi,60,60000\n']

In [20]:
f=open("data2.csv","r")

IOError: [Errno 2] No such file or directory: 'data2.csv'

In [21]:
import os

In [22]:
os.path.isfile("data2.csv")

False

In [23]:
os.path.isfile("data.csv")

True

In [24]:
file_path=raw_input("Enter a file path to read:")
if os.path.isfile(file_path):
    f=open(file_path,"r")
    data = f.read()
    print data
else:
    print "give file not found"

Enter a file path to read:data2.csv
give file not found

In [25]:
file_path=raw_input("Enter a file path to read:")
if os.path.isfile(file_path):
    f=open(file_path,"r")
    data = f.read()
    print data
else:
    print "give file not found"

Enter a file path to read:data.csv
Ravi,56,34000
Ravi,23,34000
ramesh,56,45000
ramesh,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000
ramesh,45,45000
Dhanush,56,34000
Dhanush,45,23000
jayaram,56,60000
ramesh,23,60000
anil,23,34000
Ravi,34,60000
jayaram,45,60000
Ravi,60,45000
Dhanush,60,34000
jayaram,56,60000
Ravi,60,45000
Ravi,56,23000
jayaram,45,34000
anil,34,45000
jayaram,23,23000
anil,45,45000
anil,34,34000
jayaram,23,45000
Dhanush,56,60000
ramesh,23,45000
ramesh,56,45000
anil,34,34000
ramesh,56,45000
Dhanush,60,45000
ramesh,56,34000
Ravi,45,34000
Ravi,23,45000
anil,45,23000
anil,56,60000
ramesh,23,23000
jayaram,23,34000
jayaram,45,45000
Ravi,60,60000
Dhanush,60,60000
Ravi,60,60000

In [26]:
f=open("data.csv","r")
data = f.read()
print data

Ravi,56,34000
Ravi,23,34000
ramesh,56,45000
ramesh,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000
ramesh,45,45000
Dhanush,56,34000
Dhanush,45,23000
jayaram,56,60000
ramesh,23,60000
anil,23,34000
Ravi,34,60000
jayaram,45,60000
Ravi,60,45000
Dhanush,60,34000
jayaram,56,60000
Ravi,60,45000
Ravi,56,23000
jayaram,45,34000
anil,34,45000
jayaram,23,23000
anil,45,45000
anil,34,34000
jayaram,23,45000
Dhanush,56,60000
ramesh,23,45000
ramesh,56,45000
anil,34,34000
ramesh,56,45000
Dhanush,60,45000
ramesh,56,34000
Ravi,45,34000
Ravi,23,45000
anil,45,23000
anil,56,60000
ramesh,23,23000
jayaram,23,34000
jayaram,45,45000
Ravi,60,60000
Dhanush,60,60000
Ravi,60,60000

In [27]:
f=open("data.csv","r")
data = f.read(500)
print data
print "second reading"
print "*"*100
data = f.read(500)
print data

Ravi,56,34000
Ravi,23,34000
ramesh,56,45000
ramesh,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
second reading
****************************************************************************************************

anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000

In [28]:
f=open("data.csv","r")
data = f.read(500)
print data
print "second reading"
print "*"*100
data = f.read(500)
print data
print "thired read:"
data = f.read()
print data

Ravi,56,34000
Ravi,23,34000
ramesh,56,45000
ramesh,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
second reading
****************************************************************************************************

anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000
thired read:

ramesh,45,45000
Dhanush,56,34000
Dhanush,45,23000
jayaram,56,60000
ramesh,23,60000
anil,23,34000
Ravi,34,60000
jayaram,45,60000
Ravi,60,45000
Dhanush,60,34000
jayaram,56,60000
Ravi,60,45000
Ravi,56,23000
jayaram,45,34000
anil,34,45000
jayaram,23,23000
anil,45,45000
anil,34,34000
jayaram,23,45000
Dhanush,56,60000
ramesh,23,45000
ramesh,56,45000
anil,34,34000
ramesh,56,45000
Dhanush,60,45000
ramesh,56,34000
Ravi,45,34000
Ravi,23,45000
anil,45,23000
anil,56,60000
ramesh,23,23000
jayaram,23,34000
jayaram,45,45000
Ravi,60,60000
Dhanush,60,60000
Ravi,60,60000

In [30]:
f=open("data.csv","r")
print f.tell()
data = f.read(500)
#print data
print f.tell()
print "second reading"
print "*"*100
data = f.read(500)
#print data
print f.tell()
print "thired read:"
data = f.read()
#print data
print f.tell()

0
500
second reading
****************************************************************************************************
1000
thired read:
1561

In [34]:
f=open("data.csv","r")
print f.tell()
data = f.read()
print data
print f.tell()
print "second reading"
print "*"*100
data = f.read()
#print data
print f.tell()
print "second tiem data:",data

0
Ravi,56,34000
Ravi,23,34000
ramesh,56,45000
ramesh,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000
ramesh,45,45000
Dhanush,56,34000
Dhanush,45,23000
jayaram,56,60000
ramesh,23,60000
anil,23,34000
Ravi,34,60000
jayaram,45,60000
Ravi,60,45000
Dhanush,60,34000
jayaram,56,60000
Ravi,60,45000
Ravi,56,23000
jayaram,45,34000
anil,34,45000
jayaram,23,23000
anil,45,45000
anil,34,34000
jayaram,23,45000
Dhanush,56,60000
ramesh,23,45000
ramesh,56,45000
anil,34,34000
ramesh,56,45000
Dhanush,60,45000
ramesh,56,34000
Ravi,45,34000
Ravi,23,45000
anil,45,23000
anil,56,60000
ramesh,23,23000
jayaram,23,34000
jayaram,45,45000
Ravi,60,60000
Dhanush,60,60000
Ravi,60,60000

1561
second reading
****************************************************************************************************
1561
second tiem data:

In [36]:
f=open("data.csv","r")
print f.tell()
data = f.read()
print data
f.seek(50)
data1=f.read()
print "data1=",data1

0
Ravi,56,34000
Ravi,23,34000
ramesh,56,45000
ramesh,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000
ramesh,45,45000
Dhanush,56,34000
Dhanush,45,23000
jayaram,56,60000
ramesh,23,60000
anil,23,34000
Ravi,34,60000
jayaram,45,60000
Ravi,60,45000
Dhanush,60,34000
jayaram,56,60000
Ravi,60,45000
Ravi,56,23000
jayaram,45,34000
anil,34,45000
jayaram,23,23000
anil,45,45000
anil,34,34000
jayaram,23,45000
Dhanush,56,60000
ramesh,23,45000
ramesh,56,45000
anil,34,34000
ramesh,56,45000
Dhanush,60,45000
ramesh,56,34000
Ravi,45,34000
Ravi,23,45000
anil,45,23000
anil,56,60000
ramesh,23,23000
jayaram,23,34000
jayaram,45,45000
Ravi,60,60000
Dhanush,60,60000
Ravi,60,60000

data1= ,23,23000
anil,34,45000
ramesh,34,23000
Dhanush,23,45000
Dhanush,34,23000
ramesh,56,34000
jayaram,23,23000
Dhanush,23,23000
jayaram,56,60000
jayaram,60,34000
jayaram,23,34000
anil,45,23000
Ravi,23,34000
Dhanush,60,34000
ramesh,60,34000
Ravi,56,60000
Ravi,56,34000
Dhanush,34,34000
anil,34,23000
ramesh,34,45000
anil,45,34000
jayaram,60,34000
jayaram,60,60000
anil,45,23000
Dhanush,45,45000
anil,23,45000
jayaram,56,45000
Ravi,60,45000
ramesh,60,60000
anil,45,23000
jayaram,34,60000
jayaram,56,34000
Dhanush,23,23000
anil,45,45000
Dhanush,23,34000
Ravi,23,23000
ramesh,60,34000
jayaram,56,45000
Ravi,34,34000
anil,45,45000
Ravi,56,60000
jayaram,34,23000
ramesh,56,60000
Ravi,34,34000
Dhanush,34,23000
anil,56,45000
anil,23,23000
jayaram,60,23000
jayaram,23,60000
jayaram,56,23000
anil,56,23000
Ravi,45,34000
Dhanush,60,23000
jayaram,60,60000
ramesh,56,34000
anil,56,60000
Dhanush,60,60000
jayaram,56,34000
Ravi,34,34000
ramesh,34,45000
ramesh,23,23000
ramesh,45,45000
Dhanush,56,34000
Dhanush,45,23000
jayaram,56,60000
ramesh,23,60000
anil,23,34000
Ravi,34,60000
jayaram,45,60000
Ravi,60,45000
Dhanush,60,34000
jayaram,56,60000
Ravi,60,45000
Ravi,56,23000
jayaram,45,34000
anil,34,45000
jayaram,23,23000
anil,45,45000
anil,34,34000
jayaram,23,45000
Dhanush,56,60000
ramesh,23,45000
ramesh,56,45000
anil,34,34000
ramesh,56,45000
Dhanush,60,45000
ramesh,56,34000
Ravi,45,34000
Ravi,23,45000
anil,45,23000
anil,56,60000
ramesh,23,23000
jayaram,23,34000
jayaram,45,45000
Ravi,60,60000
Dhanush,60,60000
Ravi,60,60000

In [38]:
f=open("data.csv","r")
print f.tell()
data = f.read()
print f.tell()
#print data
f.seek(50)
print f.tell()
data1=f.read()
#print "data1=",data1

0
1561
50

In [39]:
f=open("data.csv","r")
print f.readline()
print f.readline()
print f.readline()

Ravi,56,34000

Ravi,23,34000

ramesh,56,45000

In [41]:
f.readlines()

['ramesh,23,23000\n',
 'anil,34,45000\n',
 'ramesh,34,23000\n',
 'Dhanush,23,45000\n',
 'Dhanush,34,23000\n',
 'ramesh,56,34000\n',
 'jayaram,23,23000\n',
 'Dhanush,23,23000\n',
 'jayaram,56,60000\n',
 'jayaram,60,34000\n',
 'jayaram,23,34000\n',
 'anil,45,23000\n',
 'Ravi,23,34000\n',
 'Dhanush,60,34000\n',
 'ramesh,60,34000\n',
 'Ravi,56,60000\n',
 'Ravi,56,34000\n',
 'Dhanush,34,34000\n',
 'anil,34,23000\n',
 'ramesh,34,45000\n',
 'anil,45,34000\n',
 'jayaram,60,34000\n',
 'jayaram,60,60000\n',
 'anil,45,23000\n',
 'Dhanush,45,45000\n',
 'anil,23,45000\n',
 'jayaram,56,45000\n',
 'Ravi,60,45000\n',
 'ramesh,60,60000\n',
 'anil,45,23000\n',
 'jayaram,34,60000\n',
 'jayaram,56,34000\n',
 'Dhanush,23,23000\n',
 'anil,45,45000\n',
 'Dhanush,23,34000\n',
 'Ravi,23,23000\n',
 'ramesh,60,34000\n',
 'jayaram,56,45000\n',
 'Ravi,34,34000\n',
 'anil,45,45000\n',
 'Ravi,56,60000\n',
 'jayaram,34,23000\n',
 'ramesh,56,60000\n',
 'Ravi,34,34000\n',
 'Dhanush,34,23000\n',
 'anil,56,45000\n',
 'anil,23,23000\n',
 'jayaram,60,23000\n',
 'jayaram,23,60000\n',
 'jayaram,56,23000\n',
 'anil,56,23000\n',
 'Ravi,45,34000\n',
 'Dhanush,60,23000\n',
 'jayaram,60,60000\n',
 'ramesh,56,34000\n',
 'anil,56,60000\n',
 'Dhanush,60,60000\n',
 'jayaram,56,34000\n',
 'Ravi,34,34000\n',
 'ramesh,34,45000\n',
 'ramesh,23,23000\n',
 'ramesh,45,45000\n',
 'Dhanush,56,34000\n',
 'Dhanush,45,23000\n',
 'jayaram,56,60000\n',
 'ramesh,23,60000\n',
 'anil,23,34000\n',
 'Ravi,34,60000\n',
 'jayaram,45,60000\n',
 'Ravi,60,45000\n',
 'Dhanush,60,34000\n',
 'jayaram,56,60000\n',
 'Ravi,60,45000\n',
 'Ravi,56,23000\n',
 'jayaram,45,34000\n',
 'anil,34,45000\n',
 'jayaram,23,23000\n',
 'anil,45,45000\n',
 'anil,34,34000\n',
 'jayaram,23,45000\n',
 'Dhanush,56,60000\n',
 'ramesh,23,45000\n',
 'ramesh,56,45000\n',
 'anil,34,34000\n',
 'ramesh,56,45000\n',
 'Dhanush,60,45000\n',
 'ramesh,56,34000\n',
 'Ravi,45,34000\n',
 'Ravi,23,45000\n',
 'anil,45,23000\n',
 'anil,56,60000\n',
 'ramesh,23,23000\n',
 'jayaram,23,34000\n',
 'jayaram,45,45000\n',
 'Ravi,60,60000\n',
 'Dhanush,60,60000\n',
 'Ravi,60,60000\n']

In [42]:
f=open("data.csv","r")
for row in f:
    print row

Ravi,56,34000

Ravi,23,34000

ramesh,56,45000

ramesh,23,23000

anil,34,45000

ramesh,34,23000

Dhanush,23,45000

Dhanush,34,23000

ramesh,56,34000

jayaram,23,23000

Dhanush,23,23000

jayaram,56,60000

jayaram,60,34000

jayaram,23,34000

anil,45,23000

Ravi,23,34000

Dhanush,60,34000

ramesh,60,34000

Ravi,56,60000

Ravi,56,34000

Dhanush,34,34000

anil,34,23000

ramesh,34,45000

anil,45,34000

jayaram,60,34000

jayaram,60,60000

anil,45,23000

Dhanush,45,45000

anil,23,45000

jayaram,56,45000

Ravi,60,45000

ramesh,60,60000

anil,45,23000

jayaram,34,60000

jayaram,56,34000

Dhanush,23,23000

anil,45,45000

Dhanush,23,34000

Ravi,23,23000

ramesh,60,34000

jayaram,56,45000

Ravi,34,34000

anil,45,45000

Ravi,56,60000

jayaram,34,23000

ramesh,56,60000

Ravi,34,34000

Dhanush,34,23000

anil,56,45000

anil,23,23000

jayaram,60,23000

jayaram,23,60000

jayaram,56,23000

anil,56,23000

Ravi,45,34000

Dhanush,60,23000

jayaram,60,60000

ramesh,56,34000

anil,56,60000

Dhanush,60,60000

jayaram,56,34000

Ravi,34,34000

ramesh,34,45000

ramesh,23,23000

ramesh,45,45000

Dhanush,56,34000

Dhanush,45,23000

jayaram,56,60000

ramesh,23,60000

anil,23,34000

Ravi,34,60000

jayaram,45,60000

Ravi,60,45000

Dhanush,60,34000

jayaram,56,60000

Ravi,60,45000

Ravi,56,23000

jayaram,45,34000

anil,34,45000

jayaram,23,23000

anil,45,45000

anil,34,34000

jayaram,23,45000

Dhanush,56,60000

ramesh,23,45000

ramesh,56,45000

anil,34,34000

ramesh,56,45000

Dhanush,60,45000

ramesh,56,34000

Ravi,45,34000

Ravi,23,45000

anil,45,23000

anil,56,60000

ramesh,23,23000

jayaram,23,34000

jayaram,45,45000

Ravi,60,60000

Dhanush,60,60000

Ravi,60,60000

In [43]:
f=open("data.csv","r")
for row in f:
    if "anil" in row:
        print row

anil,34,45000

anil,45,23000

anil,34,23000

anil,45,34000

anil,45,23000

anil,23,45000

anil,45,23000

anil,45,45000

anil,45,45000

anil,56,45000

anil,23,23000

anil,56,23000

anil,56,60000

anil,23,34000

anil,34,45000

anil,45,45000

anil,34,34000

anil,34,34000

anil,45,23000

anil,56,60000

In [44]:
f=open("data.csv","r")
for row in f:
    if "anil" in row:
        print row.split(",")

['anil', '34', '45000\n']
['anil', '45', '23000\n']
['anil', '34', '23000\n']
['anil', '45', '34000\n']
['anil', '45', '23000\n']
['anil', '23', '45000\n']
['anil', '45', '23000\n']
['anil', '45', '45000\n']
['anil', '45', '45000\n']
['anil', '56', '45000\n']
['anil', '23', '23000\n']
['anil', '56', '23000\n']
['anil', '56', '60000\n']
['anil', '23', '34000\n']
['anil', '34', '45000\n']
['anil', '45', '45000\n']
['anil', '34', '34000\n']
['anil', '34', '34000\n']
['anil', '45', '23000\n']
['anil', '56', '60000\n']

In [45]:
f=open("data.csv","r")
for row in f:
    if "anil" in row:
        print row.split(",")[-1]

45000

23000

23000

34000

23000

45000

23000

45000

45000

45000

23000

23000

60000

34000

45000

45000

34000

34000

23000

60000

In [46]:
f=open("data.csv","r")
for row in f:
    if "anil" in row:
        print row.split(",")[-1].strip()

45000
23000
23000
34000
23000
45000
23000
45000
45000
45000
23000
23000
60000
34000
45000
45000
34000
34000
23000
60000

In [47]:
f=open("data.csv","r")
for row in f:
    if "anil" in row:
        print type(row.split(",")[-1].strip())

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

In [48]:
f=open("data.csv","r")
for row in f:
    if "anil" in row:
        print int(row.split(",")[-1].strip())

45000
23000
23000
34000
23000
45000
23000
45000
45000
45000
23000
23000
60000
34000
45000
45000
34000
34000
23000
60000

In [49]:
f=open("data.csv","r")
sum1=0
for row in f:
    if "anil" in row:
        sum1 = sum1+int(row.split(",")[-1].strip())
print sum1

732000

In [50]:
f=open("data.csv","r")
data_anil_sals=map(lambda row:int(row.split(",")[-1].strip()) if "anil" in row else 0,f)
print sum(data_anil_sals)

732000

In [51]:
f=open("data1.csv","w")
f.write(1234567)
f.close()

TypeError: expected a string or other character buffer object

In [52]:
f=open("data1.csv","w")
f.write(str(1234567))
f.close()

In [54]:
f=open("data1.csv","r")
data = f.read()
print data
print type(data)

1234567
<type 'str'>

In [55]:
f=open("data1.csv","r")
data = f.read()
print data
print type(data)
print int(data)

1234567
<type 'str'>
1234567

In [ ]:
#data=[{"name":"name1"},{"name":"name2"}]
# read .json file
# read .yaml file