In [1]:
#app
# managing a databases
# managing data(managing the data opertions)

In [2]:
#table

In [3]:
import sqlite3
con = sqlite3.connect("db1.db")

In [4]:
cur=con.cursor()

In [5]:
q="create table customer(id int, name varchar(250))"
cur.execute(q)

In [7]:
cur.execute("insert into customer(id,name) values(1,'anil')")

In [8]:
con.commit()

In [10]:
names=["anil","jayaram","chaithrika","sushma","pavan","sathish"]
import random
for i in range(2,101):
    q="insert into customer(id, name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [12]:
q="select * from customer"
cur.execute(q)

In [13]:
cur.fetchone()

(1, u'anil')

In [14]:
cur.fetchall()

[(2, u'jayaram'),
 (3, u'chaithrika'),
 (4, u'anil'),
 (5, u'chaithrika'),
 (6, u'chaithrika'),
 (7, u'sathish'),
 (8, u'pavan'),
 (9, u'jayaram'),
 (10, u'sathish'),
 (11, u'anil'),
 (12, u'jayaram'),
 (13, u'jayaram'),
 (14, u'sathish'),
 (15, u'sushma'),
 (16, u'sushma'),
 (17, u'sathish'),
 (18, u'pavan'),
 (19, u'sushma'),
 (20, u'pavan'),
 (21, u'anil'),
 (22, u'chaithrika'),
 (23, u'pavan'),
 (24, u'jayaram'),
 (25, u'jayaram'),
 (26, u'pavan'),
 (27, u'pavan'),
 (28, u'chaithrika'),
 (29, u'sushma'),
 (30, u'chaithrika'),
 (31, u'sathish'),
 (32, u'anil'),
 (33, u'anil'),
 (34, u'pavan'),
 (35, u'jayaram'),
 (36, u'anil'),
 (37, u'chaithrika'),
 (38, u'jayaram'),
 (39, u'jayaram'),
 (40, u'chaithrika'),
 (41, u'jayaram'),
 (42, u'sathish'),
 (43, u'sathish'),
 (44, u'sathish'),
 (45, u'sathish'),
 (46, u'chaithrika'),
 (47, u'jayaram'),
 (48, u'sushma'),
 (49, u'jayaram'),
 (50, u'sathish'),
 (51, u'pavan'),
 (52, u'anil'),
 (53, u'anil'),
 (54, u'pavan'),
 (55, u'anil'),
 (56, u'sushma'),
 (57, u'chaithrika'),
 (58, u'pavan'),
 (59, u'chaithrika'),
 (60, u'sushma'),
 (61, u'anil'),
 (62, u'pavan'),
 (63, u'sushma'),
 (64, u'jayaram'),
 (65, u'pavan'),
 (66, u'jayaram'),
 (67, u'sushma'),
 (68, u'chaithrika'),
 (69, u'chaithrika'),
 (70, u'pavan'),
 (71, u'chaithrika'),
 (72, u'chaithrika'),
 (73, u'jayaram'),
 (74, u'sushma'),
 (75, u'anil'),
 (76, u'sathish'),
 (77, u'pavan'),
 (78, u'sushma'),
 (79, u'sathish'),
 (80, u'anil'),
 (81, u'sushma'),
 (82, u'sathish'),
 (83, u'jayaram'),
 (84, u'chaithrika'),
 (85, u'anil'),
 (86, u'jayaram'),
 (87, u'jayaram'),
 (88, u'sathish'),
 (89, u'pavan'),
 (90, u'jayaram'),
 (91, u'jayaram'),
 (92, u'sushma'),
 (93, u'chaithrika'),
 (94, u'pavan'),
 (95, u'pavan'),
 (96, u'sushma'),
 (97, u'jayaram'),
 (98, u'chaithrika'),
 (99, u'sushma'),
 (100, u'sathish')]

In [2]:
import sqlite3
con = sqlite3.connect("db1.db")
cur=con.cursor()
q="update customer set name='modidified_name' where id=7"
cur.execute(q)
con.commit()

In [3]:
q="delete from customer where id=7"
cur.execute(q)
con.commit()

In [4]:
rec_id=raw_input("Enter record id:")
cur.execute("select * from customer where id=%s"%rec_id)
data = cur.fetchall()
if data:
    print data
else:
    print "No records found"

Enter record id:6
[(6, u'chaithrika')]

In [5]:
rec_id=raw_input("Enter record id:")
cur.execute("select * from customer where id=%s"%rec_id)
data = cur.fetchall()
if data:
    print data
else:
    print "No records found"

Enter record id:8
[(8, u'pavan')]

In [6]:
rec_id=raw_input("Enter record id:")
cur.execute("select * from customer where id=%s"%rec_id)
data = cur.fetchall()
if data:
    print data
else:
    print "No records found"

Enter record id:7
No records found

In [7]:
rec_id=raw_input("Enter record id:")
cur.execute("select * from customer where id=%s"%rec_id)
data = cur.fetchall()
if data:
    print data
else:
    print "No records found"

Enter record id:200
No records found

In [8]:
rec_id=raw_input("Enter record id:")
cur.execute("select id,name from customer where id=%s"%rec_id)
data = cur.fetchone()
if data:
    print "id=%s, name=%s"%(data[0],data[1])
else:
    print "No records found"

Enter record id:6
id=6, name=chaithrika

In [9]:
import psycopg2
con = psycopg2.connect(database="batch44",user="postgres",password="root",port=5432,host="localhost")
cur=con.cursor()
q="create table customer(id int, name varchar(250))"
cur.execute(q)
names=["anil","jayaram","chaithrika","sushma","pavan","sathish"]
import random
for i in range(2,101):
    q="insert into customer(id, name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [10]:
rec_id=raw_input("Enter record id:")
cur.execute("select * from customer where id=%s"%rec_id)
data = cur.fetchall()
if data:
    print data
else:
    print "No records found"

Enter record id:6
[(6, 'sushma')]

In [11]:
rec_id=raw_input("Enter record id:")
cur.execute("select id,name from customer where id=%s"%rec_id)
data = cur.fetchone()
if data:
    print "id=%s, name=%s"%(data[0],data[1])
else:
    print "No records found"

Enter record id:8
id=8, name=anil

In [12]:
"""
1. Login
2. register a user
enter an option:1
    Enter username:
    Enter password:
if loged in successfully show the below menu else show an error message and above menu
Menu:

    1. Register a customer
    2. Modify customer status and next meeting time
    3. delte customer
    4. reports
    Q. quit
    Enter an option: 1
        Show fields required to insert
        name, email, phonenumber, address, status(new, notinterested, interested, nextcall), scheduleddate, 
        createddate, createduser,
        updatedate, updateuser, deletedate, deleteduser)
    collect the information
"""

'\n1. Login\n2. register a user\nenter an option:1\n    Enter username:\n    Enter password:\nif loged in successfully show the below menu else show an error message and above menu\nMenu:\n\n    1. Register a customer\n    2. Modify customer status and next meeting time\n    3. delte customer\n    4. reports\n    Q. quit\n    Enter an option: 1\n        Show fields required to insert\n        name, email, phonenumber, address, status(new, notinterested, interested, nextcall, createddate, createduser,\n        updatedate, updateuser, deletedate, deleteduser)\n    collect the information\n'

In [14]:
import time
time.time()

1522807675.175365

In [17]:
from datetime import datetime
datetime.now()

datetime.datetime(2018, 4, 4, 7, 38, 27, 827942)

In [18]:
from datetime import datetime
"%s"%datetime.now()

'2018-04-04 07:38:39.120138'

In [19]:
t1=datetime.now()
t2=datetime.now()

In [20]:
print t1

2018-04-04 07:39:34.784603

In [21]:
print t2

2018-04-04 07:39:34.784655

In [22]:
t2>t1

True

In [34]:
s="2018-04-04 07:39"
d1=datetime.strptime(s, "%Y-%m-%d %H:%M")

In [35]:
d1.date()

datetime.date(2018, 4, 4)

In [36]:
d1.day

4

In [37]:
d1.hour

7

In [39]:
datetime.today()

datetime.datetime(2018, 4, 4, 7, 45, 31, 647232)

In [42]:
d1.weekday()

2

In [43]:
d1.weekday?

In [44]:
today = datetime.today()

In [45]:
print today

2018-04-04 07:47:05.072229

In [47]:
today.date()

datetime.date(2018, 4, 4)

In [48]:
today.date()+datetime.timedelta(hours=24)

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [49]:
from datetime import timedelta

In [50]:
today.date()+timedelta(hours=24)

datetime.date(2018, 4, 5)

In [52]:
today.date()+timedelta(days=1)

datetime.date(2018, 4, 5)

In [54]:
s="2018-04-5"
nextday = today.date()+timedelta(days=1)
print nextday == s

False

In [56]:
s="2018-04-5"
date_scheduled = datetime.strptime(s,"%Y-%m-%d")
nextday = today.date()+timedelta(days=1)
print nextday
print date_scheduled
print nextday == date_scheduled

2018-04-05
2018-04-05 00:00:00
False

In [58]:
s="2018-04-05"
nextday = today.date()+timedelta(days=1)
s1="%s"%nextday
print s
print s1

2018-04-05
2018-04-05

In [59]:
s="2018-04-05"
nextday = today.date()+timedelta(days=1)
s1="%s"%nextday
print s
print s1
print s==s1

2018-04-05
2018-04-05
True

In [61]:
s="2018-04-5"
nextday = today.date()+timedelta(days=1, hours=0, minutes=0, seconds=0)
print nextday

2018-04-05

In [62]:
s="2018-04-05"
nextday = today.date()+timedelta(days=1)
s1="%s"%nextday
print s
print s1
print s==s1
print datetime.today()

2018-04-05
2018-04-05
True
2018-04-04 07:56:55.014844

In [63]:
print datetime.today().date()

2018-04-04