In [1]:
#app
# managing a databases
# managing data(managing the data opertions)

In [2]:
#table

In [3]:
import sqlite3
con = sqlite3.connect("db1.db")

In [4]:
cur=con.cursor()

In [5]:
q="create table customer(id int, name varchar(250))"
cur.execute(q)

In [7]:
cur.execute("insert into customer(id,name) values(1,'anil')")

In [8]:
con.commit()

In [10]:
names=["anil","jayaram","chaithrika","sushma","pavan","sathish"]
import random
for i in range(2,101):
    q="insert into customer(id, name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [12]:
q="select * from customer"
cur.execute(q)

In [13]:
cur.fetchone()

(1, u'anil')

In [14]:
cur.fetchall()

[(2, u'jayaram'),
 (3, u'chaithrika'),
 (4, u'anil'),
 (5, u'chaithrika'),
 (6, u'chaithrika'),
 (7, u'sathish'),
 (8, u'pavan'),
 (9, u'jayaram'),
 (10, u'sathish'),
 (11, u'anil'),
 (12, u'jayaram'),
 (13, u'jayaram'),
 (14, u'sathish'),
 (15, u'sushma'),
 (16, u'sushma'),
 (17, u'sathish'),
 (18, u'pavan'),
 (19, u'sushma'),
 (20, u'pavan'),
 (21, u'anil'),
 (22, u'chaithrika'),
 (23, u'pavan'),
 (24, u'jayaram'),
 (25, u'jayaram'),
 (26, u'pavan'),
 (27, u'pavan'),
 (28, u'chaithrika'),
 (29, u'sushma'),
 (30, u'chaithrika'),
 (31, u'sathish'),
 (32, u'anil'),
 (33, u'anil'),
 (34, u'pavan'),
 (35, u'jayaram'),
 (36, u'anil'),
 (37, u'chaithrika'),
 (38, u'jayaram'),
 (39, u'jayaram'),
 (40, u'chaithrika'),
 (41, u'jayaram'),
 (42, u'sathish'),
 (43, u'sathish'),
 (44, u'sathish'),
 (45, u'sathish'),
 (46, u'chaithrika'),
 (47, u'jayaram'),
 (48, u'sushma'),
 (49, u'jayaram'),
 (50, u'sathish'),
 (51, u'pavan'),
 (52, u'anil'),
 (53, u'anil'),
 (54, u'pavan'),
 (55, u'anil'),
 (56, u'sushma'),
 (57, u'chaithrika'),
 (58, u'pavan'),
 (59, u'chaithrika'),
 (60, u'sushma'),
 (61, u'anil'),
 (62, u'pavan'),
 (63, u'sushma'),
 (64, u'jayaram'),
 (65, u'pavan'),
 (66, u'jayaram'),
 (67, u'sushma'),
 (68, u'chaithrika'),
 (69, u'chaithrika'),
 (70, u'pavan'),
 (71, u'chaithrika'),
 (72, u'chaithrika'),
 (73, u'jayaram'),
 (74, u'sushma'),
 (75, u'anil'),
 (76, u'sathish'),
 (77, u'pavan'),
 (78, u'sushma'),
 (79, u'sathish'),
 (80, u'anil'),
 (81, u'sushma'),
 (82, u'sathish'),
 (83, u'jayaram'),
 (84, u'chaithrika'),
 (85, u'anil'),
 (86, u'jayaram'),
 (87, u'jayaram'),
 (88, u'sathish'),
 (89, u'pavan'),
 (90, u'jayaram'),
 (91, u'jayaram'),
 (92, u'sushma'),
 (93, u'chaithrika'),
 (94, u'pavan'),
 (95, u'pavan'),
 (96, u'sushma'),
 (97, u'jayaram'),
 (98, u'chaithrika'),
 (99, u'sushma'),
 (100, u'sathish')]